
      body {
         margin: 0;
         background-color: #000;
         overflow: hidden;
      }
      .pumpkin-container {
         position: absolute;
         top: 0;
         left: 0;
         width: 100%;
         height: 100%;
      }
      .pumpkin {
         position: absolute;
         top: 50%;
         left: 50%;
         transform: translate(-50%, -50%);
         font-size: 0em;
         opacity: 0;
      }
   